		<br>
		<br>
		
		
		<footer class="page-footer font-small blue pt-4" style="background-color: #001a33;">
			<div class="row">
				<div class="col">
		
		
		
		
				</div>
				<div class="col">
				
				
				
				
				
				
				</div>
				<div class="col">
				
				
			
				
				</div>
				<div class="col">
					<font color="white"><h4>Βρείτε μας στα</h4></font>
					<br>
					
					
					<font color="white"><i class="fab fa-facebook fa-2x"> <font color= #001a33>.</font></i></font>
					<font color="white"><i class="fab fa-twitter fa-2x"> <font color= #001a33>.</font></i></font>
					<font color="white"><i class="fab fa-instagram fa-2x"> </i></font>
						
				</div>
				
				
			</div>
			<br>
			
			
			<div align="center">
						
				<font color="white"><h5>Oasa : EAM Team 2019 - 2020</h5> </font>
				<br>		
			</div>
		</footer>


	</body>
</html>