		<br>
		<br>
		<font color=#001a33>..</font>
		
		<footer class="page-footer font-small blue pt-4" style="background-color: #001a33;">
		<br>
			<div class="row">
				<div class="col">
					
						<font color="white"><h4 id="hh">Routes</h4></font>
						<br><br><br>
						
						<a id="aa" class="btn" href="/anazitisi_diadromis" role="button"><font color="white">Routes/Stations</font></a> <br>
						<a id="aa" class="btn" href="/24wra_leoforeia" role="button"><font color="white">24-hour routes</font></a>	<br>
						<a id="aa" class="btn" href="/nyxterina_dromologia" role="button"><font color="white">Nightime routes</font></a>	<br>
						<a id="aa" class="btn" href="/dromologia_aerodromiou" role="button"><font color="white">Routes to airport</font></a>	<br>
						<a id="aa" class="btn" href="/oles_oi_grammes" role="button"><font color="white">All lines</font></a>	
						
						
					
				</div>
				<div class="col">
					
						<font color="white"><h4 id="hh">Tickets/Cards</h4></font>
						<br><br><br>
						
						<a id="aa" class="btn" href="/epanafortisi_kartas" role="button"><font color="white">Recharge Card</font></a> <br>
						<a id="aa" class="btn" href="/agora_eisitirion" role="button"><font color="white">Buy Tickets</font></a>	<br>
						<a id="aa" class="btn" href="/times_eisitirion" role="button"><font color="white">Ticket Prices</font></a>	<br>
						<a id="aa" class="btn" href="/dikaiologitika" role="button"><font color="white">Papers to Make a Card</font></a>	<br>
						<a id="aa" class="btn" href="/stathmoi_ekdosis" role="button"><font color="white">Card Stations</font></a>
					
					
					
				</div>
				<div class="col">
					<div align="center">
						<font color="white"><h4 id="hh">People with disabilities</h4></font>
						<br><br><br>
						
						<a id="aa" class="btn" href="/staseis_amea" role="button"><font color="white">Stations with help</font></a> <br>
						<a id="aa" class="btn" href="#" role="button"><font color="white">Tickets/Cards</font></a>	<br>

						
					</div>
				</div>
				<div class="col">
					
					<a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/" role="button"><font color="white"><i class="fab fa-facebook fa-2x"> <font color= #001a33>.</font></i></font></a>
					<a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/" role="button"><font color="white"><i class="fab fa-twitter fa-2x"> <font color= #001a33>.</font></i></font></a>
					<a target="_blank" rel="noopener noreferrer" href="https://twitter.com/" role="button"><font color="white"><i class="fab fa-instagram fa-2x"> </i></font></a>
					<br><br><br>	
					
					<font color="white"><h4>Central Office:</h4></font>
					<br>
					
					<a target="_blank" rel="noopener noreferrer" href="https://www.google.com/maps/place/%CE%91%CE%B8%CE%B7%CE%BD%CE%AC%CF%82+67,+%CE%91%CE%B8%CE%AE%CE%BD%CE%B1+105+52/@37.9830944,23.7254154,17z/data=!3m1!4b1!4m5!3m4!1s0x14a1bd3ab2b3fc29:0xe94e13f45c5f86ca!8m2!3d37.9830944!4d23.7276041" role="button"><font color="white"><i class="fa fa-map-marker-alt"></i>  <font color=#001a33>..</font> Athinas 67, 10552, Athens</font></a>
					<p></p>
					<font color="white"><i class="fa fa-phone-alt"></i> <font color=#001a33>..</font>214.414.1352</font>
					<p></p>
					<font color="white"><i class="fa fa-envelope"></i> <font color=#001a33>..</font>oasa@gmail.com</font>
					
				</div>
				
				
			</div>
			<br><br>
			
		
			<div align="center">
				<a id="bottomright" href="#top"><font color="white"> <i class='far fa-arrow-alt-circle-up' style='font-size:30px'></i> </font></a>
				<br>
				<font color="white"><h5>Oasa : EAM Team 2019 - 2020</h5> </font>
				<br>		
			</div>
		</footer>


	</body>
</html>
