<!DOCTYPE html>
<html>
	<head>
		<title> Oasa </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/app.css">
		
		<script src="https://kit.fontawesome.com/a99052b67a.js" crossorigin="anonymous"></script>
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		
		
		
		
	</head>

	<body>
		
		
		
		<div class="container">
			<div class="row">
				<div class="col">
				
				
					<a class="nav-link" href="/"><h2><font color="blue"><i class="fa fa-bus"></i></font><b> <font color="black">Ο</font><font color="blue">Α</font><font color="black">ΣΑ</font> </b></h2></a>
					<br>
				
				</div>
				<div class="col">
					
					<h3>   </h3>
					<font color="blue"><i class="fa fa-paper-plane-o fa-lg" aria-hidden="true"> </i></font> <b><font color="black"> Email </font> </b>
					<br>
					Oasa@gmail.com
		 
				</div>
				<div class="col">
				
					<h3>   </h3>
					<font color="blue"><i class="fa fa-phone fa-lg" aria-hidden="true"> </i></font> <b><font color="black"> Τηλέφωνο </font> </b>
					<br>
					210 25 10025
				
				</div>
				<div class="col">
					<div class="row">
						<div class="col">
							<p> </p>
							<br>
							<a class="btn btn-primary active btn-sm" href="/error_page" role="button">Εύκολη Λειτουργία</a>
						</div>
					
						<div class="col">
							<p> </p>
							<br>
							<a class="btn btn-primary active btn-sm" href="/home_en" role="button">English</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		
		
	
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #001a33;">
		<div class="container"> 

		  
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  
		    <div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					  
					  
					<li class="nav-item dropdown">  
						<li class="nav-item active">
						<a class="nav-link" href="/"><font color="white"><i class="fa fa-home"></i> Αρχική </font></a>
						</li>
					</li>
					
					
					
					<li class="nav-item dropdown">
						
						<a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  <font color="white">Δρομολόγια </font>
						</a>
						
						<div class="dropdown-menu"  style="background-color: #e6e6e6" aria-labelledby="navbarDropdownMenuLink">
						  <a class="dropdown-item" href="/anazitisi_diadromis">Δρομολόγια/Στάσεις</a>
						  <a class="dropdown-item" href="/24wra_leoforeia">24ωρα Δρομολόγια</a>
						  <a class="dropdown-item" href="/nyxterina_dromologia">Νυχτερινά δρομολόγια</a>
						  <a class="dropdown-item" href="/dromologia_aerodromiou">Δρομολόγια προς αεροδρόμιο</a>
						  <a class="dropdown-item" href="/oles_oi_grammes">Όλες οι γραμμές</a>
						  
						</div>
					</li>
					
					
					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  <font color="white">Εισιτήρια/Κάρτες </font>
						</a>
						
						<div class="dropdown-menu" style="background-color: #e6e6e6" aria-labelledby="navbarDropdownMenuLink">
						  <a class="dropdown-item" href="/epanafortisi_kartas">Επαναφόρτιση κάρτας</a>
						  <a class="dropdown-item" href="/agora_eisitirion">Αγορά εισιτηρίων</a>
						  <a class="dropdown-item" href="/times_eisitirion">Τιμές εισιτηρίων</a>
						  <a class="dropdown-item" href="/dikaiologitika">Δικαιολογητικά έκδοσης κάρτας</a>
						  <a class="dropdown-item" href="/stathmoi_ekdosis">Σταθμοί έκδοσης καρτών</a>
						</div>
					</li>
					  
					  
					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  <font color="white">ΑμεΑ </font>
						</a>
						
						<div class="dropdown-menu" style="background-color: #e6e6e6" aria-labelledby="navbarDropdownMenuLink">
						  <a class="dropdown-item" href="/staseis_amea">Στάσεις με προεξοχές</a>
						  <a class="dropdown-item" href="#">Εισιτήρια/Κάρτες</a>
						</div>
					</li>
					
					
					<li class="nav-item active">
						<a class="nav-link" href="/anakoinoseis"><font color="white">Ανακοινώσεις </font></a>
					</li>			
					
					
					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  <font color="white">Επικοινωνία </font>
						</a>
						
						<div class="dropdown-menu" style="background-color: #e6e6e6" aria-labelledby="navbarDropdownMenuLink">
						  <a class="dropdown-item" href="/epikoinonia">Στοιχεία επικοινωνίας</a>
						  <a class="dropdown-item" href="/parapona">Παράπονα</a>
						</div>
					</li>
					
					
				</ul>
		    </div>
			
			
			
			
			

			<% if(typeof currentUser !== "undefined") {   %>  
				<ul class="navbar-nav">
					
					<li class="nav-item dropleft active">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					        <i class="fas fa-user-cog fa-md"> </i><font color=#1aff1a> <b><%= currentUser.username  %></b> </font>
						</a>
						
						<div class="dropdown-menu" style="background-color: #e6e6e6" aria-labelledby="navbarDropdownMenuLink">
						  <a class="dropdown-item" href="/my_account">Ο Λογαριασμός μου</a>
						  <a class="dropdown-item" href="/account">Ρυθμίσεις Λογαριασμού</a>
						  
						  <a class="dropdown-item" href="/oi_agores_mou">Οι αγορές μου</a>
						  <a class="dropdown-item" href="/dromologia_mou">Τα δρομολόγια μου</a>
						</div>
					</li>	
					
					

					
					<li class="nav-item active">
						<a class="nav-link" href="/logout"><font color="white"><i class="fa fa-sign-out fa-md"></i> Αποσύνδεση </font></a>
					</li>
				</ul>
		    <% }else{ %>
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="/login"><font color="white"><i class="fa fa-sign-in fa-md"></i> Σύνδεση </font></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/register"><font color="white"><i class="fa fa-user-plus fa-md"></i> Εγγραφή </font></a>
					</li>
				</ul>
      	    <% } %>

		</div>
		</nav>
		
		

















	<% if(error && error.length) { %>
		<div class="container">
			<div class="alert alert-danger" role="alert">
				<div class="container">
					<%= error %>
				</div>
			</div>
		</div>
	<% } %>


	<% if(success && success.length) { %>
		<div class="container">
			<div class="alert alert-success" role="alert">
				<div class="container">
					<%= success %>
				</div>
			</div>
		</div>
	<% } %>














