<!DOCTYPE html>
<html>
	<head>
		<title> Oasa </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/app.css">
		
		
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		
	</head>

	<body>
	
	
	
	
		<div class="bg-top navbar-light">
			<div class="container">
				<div class="row no-gutters d-flex align-items-center align-items-stretch">
					<div class="col-md-4 d-flex align-items-center py-4">
						<a class="navbar-brand" href="/">Oasa</a>
					</div>
					<div class="col-lg-8 d-block">
						<div class="row d-flex">
							<div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
								<div class="icon d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
								<div class="text">
									<span>Email</span>
									<span>youremail@email.com</span>
								</div>
							</div>
							<div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
								<div class="icon d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
								<div class="text">
									<span>Call</span>
									<span>Call Us: + 1235 2355 98</span>
								</div>
							</div>
							<div class="col-md topper d-flex align-items-center justify-content-end">
								<p class="mb-0 d-block">
									<a href="#" class="btn py-2 px-3 btn-primary">
										<span>Free Consulting</span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			  </div>
		</div>
		
		
		
	
		<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d9d9d9;">
		  <a class="navbar-brand" href="/"><b>OASA</b></a>
		  
		  
		  
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  
		    <div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
			
					  
					<li class="nav-item active">
						<a class="nav-link" href="/anazitisi_diadromis">Δρομολόγια/Στάσεις </a>
					</li>
					  
					  
					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Δρομολόγια
						</a>
						
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						  <a class="dropdown-item" href="#">Επιλογή Δρομολογίου</a>
						  <a class="dropdown-item" href="/24wra_leoforeia">24ωρα Λεωφορεία</a>
						  <a class="dropdown-item" href="#">Νυχτερινά δρομολόγια</a>
						  <a class="dropdown-item" href="/24wra_leoforeia">Λεωφορεία αεροδρομίου</a>
						</div>
					</li>
					
					
					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Εισητήρια/Κάρτες 
						</a>
						
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						  <a class="dropdown-item" href="/epanafortisi_kartas">Επαναφόρτιση κάρτας</a>
						  <a class="dropdown-item" href="/agora_eisitirion">Αγορά εισητηρίων</a>
						  <a class="dropdown-item" href="#">Τιμές εισητηρίων</a>
						  <a class="dropdown-item" href="#">Δικαιολογητικά έκδοσης κάρτας</a>
						  <a class="dropdown-item" href="#">Σταθμοί έκδοσης καρτών</a>
						</div>
					</li>
					  
					  
					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  ΑμεΑ
						</a>
						
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						  <a class="dropdown-item" href="#">Στάσεις</a>
						  <a class="dropdown-item" href="#">Εισητήρια/Κάρτες</a>
						</div>
					</li>
					
					
					<li class="nav-item active">
						<a class="nav-link" href="/anakoinoseis">Ανακοινώσεις</a>
					</li>
					
					<li class="nav-item active">
						<a class="nav-link" href="#">Επικοινωνία</a>
					</li>
					
					
				</ul>
		    </div>
			
			
			<% if(typeof currentUser !== "undefined") {   %>  
				<ul class="navbar-nav">
					
					<li class="nav-item dropleft active">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					        <font color="purple"> <b><%= currentUser.username  %></b> </font>
						</a>
						
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						  <a class="dropdown-item" href="/my_account">Ο Λογαριασμός μου</a>
						  <a class="dropdown-item" href="/account">ΡυθμίσειςΛογαριασμού</a>
						  
						  <a class="dropdown-item" href="#">Οι αγορές μου</a>
						  <a class="dropdown-item" href="#">Τα δρομολόγια μου</a>
						</div>
					</li>	
					
					

					
					<li class="nav-item active">
						<a class="nav-link" href="/logout"> <i class="fa fa-sign-out fa-xs"></i> Αποσύνδεση</a>
					</li>
				</ul>
		    <% }else{ %>
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="/login"><i class="fa fa-sign-in fa-xs"></i> Σύνδεση</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/register"><i class="fa fa-user-plus fa-xs"></i> Εγγραφή</a>
					</li>
				</ul>
      	    <% } %>

		</nav>
		
		


	<% if(error && error.length) { %>
		<div class="container">
			<div class="alert alert-danger" role="alert">
				<div class="container">
					<%= error %>
				</div>
			</div>
		</div>
	<% } %>


	<% if(success && success.length) { %>
		<div class="container">
			<div class="alert alert-success" role="alert">
				<div class="container">
					<%= success %>
				</div>
			</div>
		</div>
	<% } %>














