<% include partials/header.ejs %>



<div class="container">

	<h3 align="center"><b> Πληροφορίες για άτομα μα αναπηρίες </b></h3>
	<br><br>


	<h4>Στους σταθμούς όλων των μέσων του ΟΑΣΑ, οι οποίοι έχουν όροφο ή είναι υπόγειοι, υπάρχουν ανελκυστήρες για την πρόσβαση ατόμων με κινητικές δυσκολίες σε αυτούς.</h4>
    <h4>Σε περίπτωση που οι ανελκυστήρες δεν δουλεύουν σε κάποιο σταθμό, αυτό εμφανίζεται στις <a href="/anakoinoseis">ανακοινώσεις</a>.</h4>
    <h4>Ακόμα, υπάρχουν <a href="/staseis_amea">στάσεις με προεξοχές</a> για περαιτέρω βοήθεια.</h4>
    <br>
    <h4>Για περισσότερες πληροφορίες για τις ενέργειες του ΟΑΣΑ για ΑμεΑ, μπορείτε να <a href="/epikoinonia">επικοινωνήσετε</a> μαζί μας.</h4>




</div>










<% include partials/footer.ejs %>
