<% include partials/header.ejs %>



<div class="container">

	<h3 align="center"><b> ΑΝΑΚΟΙΝΩΣΕΙΣ </b></h3>
	<br> <br>


	<% anakoinoseis.forEach(function( an ){ %>
		<h5><font color="blue"> <%= an.date %> </font> <%= an.anakoinosi %>	</h5>
		<br>		
	<% }) %>
	<br>
	<br>
	<br>
	<br><br><br><br><br><br>


</div>














<% include partials/footer.ejs %>