<% include partials/header.ejs %>



<div class="container">

	<% anakoinoseis.forEach(function( an ){ %>
		<p><font color="blue"> <%= an.date %> </font> <%= an.anakoinosi %>	</p>
		<br>		
	<% }) %>
	<br>
	<br>
	<br>
	<br><br><br><br><br><br>


</div>














<% include partials/footer.ejs %>