<% include partials/header.ejs %>

<div class="container">
    <strong><h3 class="text-center">Δικαιολογητικά Έκδωσης Κάρτας</h3></strong>
	<br><br>

    <h4>Οι προσωποποιημένες κάρτες εκδίδονται από συγκεκριμένους <a href="/stathmoi_ekdosis">σταθμούς έκδοσης</a>, με την επίδειξη της Αστυνομικής Ταυτότητας, Διαβατηρίου ή του ΑΜΚΑ σε έντυπη μορφή</h4>
    <h4>Σε περίπτωση που ο ενδιαφερόμενος δεν διαθέτει κάποιο από τα παραπάνω δικαιολογητικά, μπορεί να προσκομίσει νόμιμο έγγραφο όπου αναγράφεται ένας μοναδικός προσωπικός αριθμός.</h4>
    <h4>Σε περίπτωση κάρτας μειωμένου κομίστρου, πρέπει να προσκομηθεί επιπλέον και το κατάλληλο δικαιολογητικό (π.χ. κάρτα ανεργείας, φοιτητηκή ταυτότητα, κ.α.)</h4>
    

    
</div>

<br><br><br>

<% include partials/footer.ejs %>
