<% include partials/header.ejs %>



<div class="container">

	<h3 align="center"><b> Εγχειριδιο Χρήσης </b></h3>
	<br> <br>
    
    <h4 align="center"><b> Αναζήτηση Δρομολογίου </b></h4>
    
    <img src="/images/screenshot.png">
    <h4>Εισαγωγή στοιχείων αφετηρίας και προορισμού με κεφαλαίο το πρώτο γράμμα και χωρίς τόνους</h4>
    <h4>Πίεση κουμπιού "Αναζήτηση"</h4>

    <img src="/images/screenshot_1.png">    
    <h4>Επιλογή του επιθυμιτού δρομολογίου και εμφάνισή του στον χάρτη</h4>
    

	<br>
	<br>
	<br>
	<br><br><br><br><br><br>


</div>














<% include partials/footer.ejs %>
