<% include partials/header.ejs %>


<div class="container">

	<h3 align="center" ><b> Επαναφόρτιση κάρτας </b></h3>
	<br><br>
	

	<% if(typeof currentUser !== "undefined") {   %>
	
		<form action="/epanafortisi_kartas/<%= currentUser._id %>" method="POST">
			
			<div class="container">
				<div class="row">					
					
					<div class="col">
						<div style="width: 55%; margin-top: 5%;">
		
								<h4><b>Κόμιστρο </b><h4>
								<br>

								<div class="form-group">
								  <select class="form-control" name="stoixeia[komistro]">
									<option>Ενιαίο εισιτήριο 90 λεπτών (1.40€)</option>
									<option>Μειωμένο εισιτήριο 90 λεπτών (0.60€)</option>
									<option>Ημερήσιο εισιτήριο (4.50€)</option>
									<option>Εισιτήριο πέντε ημερών (9.00€)</option>
								  </select>
								</div>
							  
							  
								<br>
								<h4><b>Ποσότητα</b><h4>
								<br>
								
								<div class="form-group">
									<input type="text" class="form-control" name = "stoixeia[posotita]" id="exampleInputEmail1" placeholder="ποσότητα (π.χ. 5)">
								</div>
								

						</div>
						
						<br><br><br><br><br><br>
						<a href="/">Ακύρωση</a>
					</div>
					
					
					<div class="col">
						<div style="width: 55%; margin-top: 5%;">
						
								<h4><b>Στοιχεία κάρτας </b><h4>
								<br>
								
								<div class="form-group">
									<input type="text" class="form-control" name = "stoixeia[kwdikos]" id="exampleInputEmail1" placeholder="Κωδικός κάρτας">
								</div>
							
								<br>
								<h4><b>Τρόπος πληρωμής </b><h4>
								<br>
								
								
								<div class="form-group">
								  <select class="form-control" name="stoixeia[pliromi]">
									<option value="karta" >Πιστωτική - Χρεωστική κάρτα</option>
									<option value="paypal" >Paypal</option>
								  </select>
								</div>
								
							
							<br> <br><br> <br><br> <br>
							

							<div class="form-group">
								<button class="btn btn-sm btn-success btn-default btn-block">Συνέχεια</button>
							</div>
							
							
						</div>				
						
					</div>
					
					
				</div>
			</div>
			
		</form>
		
	<% }else{ %>
	
		<form action="/epanafortisi_kartas/112" method="POST">
			
			<div class="container">
				<div class="row">

					<div class="col">
						<div style="width: 55%; margin-top: 5%;">
						
						
								<h4><b>Στοιχεία απόδειξης </b><h4>
								<br>
								
								<div class="form-group">
									<input type="text" class="form-control" name = "stoixeia[onoma]" id="exampleInputEmail1" placeholder="Όνομα">
								</div>
								
								<div class="form-group">
									<input type="text" class="form-control" name = "stoixeia[eponimo]" id="exampleInputEmail1" placeholder="Επώνυμο">
								</div>
								
								<div class="form-group">
									<input type="email" class="form-control" name = "stoixeia[email]" id="exampleInputEmail1" placeholder="email">
								</div>
								
								<br>
								<h4><b>Στοιχεία κάρτας </b><h4>
								<br>
								
								<div class="form-group">
									<input type="text" class="form-control" name = "stoixeia[kwdikos]" id="exampleInputEmail1" placeholder="Κωδικός κάρτας">
								</div>
							
							
						</div>
						
						<br> <br><br>
						<a href="/">Ακύρωση</a>
						
					</div>
					
					
					<div class="col">
						<div style="width: 55%; margin-top: 5%;">
		
								<h4><b>Κόμιστρο </b><h4>
								<br>

								<div class="form-group">
								  <select class="form-control" name="stoixeia[komistro]">
									<option>Ενιαίο εισιτήριο 90 λεπτών (1.40€)</option>
									<option>Μειωμένο εισιτήριο 90 λεπτών (0.60€)</option>
									<option>Ημερήσιο εισιτήριο (4.50€)</option>
									<option>Εισιτήριο πέντε ημερών (9.00€)</option>
								  </select>
								</div>
							  
							  
								<br>
								<h4><b>Ποσότητα</b><h4>
								<br>
								
								<div class="form-group">
									<input type="text" class="form-control" name = "stoixeia[posotita]" id="exampleInputEmail1" placeholder="ποσότητα (π.χ. 5)">
								</div>
								

						</div>
					</div>
					
					
					<div class="col">
						<div style="width: 55%; margin-top: 5%;">
							
								<h4><b>Τρόπος πληρωμής </b><h4>
								<br>
								
								
								<div class="form-group">
								  <select class="form-control" name="stoixeia[pliromi]">
									<option value="karta" >Πιστωτική - Χρεωστική κάρτα</option>
									<option value="paypal" >Paypal</option>
								  </select>
								</div>
								
							
							<br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br>
							
							
							

							
							
							<br>
							<div class="form-group">
								<button class="btn btn-sm btn-success btn-default btn-block" >Συνέχεια</button>
							</div>
							
							
						</div>				
						
					</div>
					
					
				</div>
			</div>
			
		</form>
	
	<% } %>

</div>






<% include partials/footer.ejs %>