<% include partials/header.ejs %>



<div class="container">

	<h3 align="center"><b> ΣΤΟΙΧΕΙΑ ΕΠΙΚΟΙΝΩΝΙΑΣ ΜΕ ΤΙΣ ΕΤΑΙΡΕΙΕΣ ΑΣΤΙΚΩΝ ΣΥΓΚΟΙΝΩΝΙΩΝ </b></h3>
	<br><br>


	<ul>
	  <li> 
	  
		<h5><b> Στοιχεία Επικοινωνίας με τον ΟΑΣΑ </b></h5> 
		<p>Μετσόβου 15,Αθήνα 106 82</p>
		<p><b>Τηλ.:</b> 210-82 00 999  Φαξ: 210-82 12 219</p>
		<p><b>Τηλεφωνική Πληροφόρηση:</b> 11185 (δρομολόγια, διαδρομές, εισιτήρια)</p>
		<p><b>email:</b> <font color="blue">oasa@oasa.gr </font></p>
		
	  </li>
	  <br>
	  <li>
	  
		<h5><b> Στοιχεία Επικοινωνίας με τον Ο.ΣΥ. (Οδικές Συγκοινωνίες) </b></h5> 
		<p>Παρνασσού 6, Αγ. Ι. Ρέντης 182 33</p>
		<p><b>Τηλ.:</b> 210-42.70.796 </p>
		<p><b>Υπηρεσία Προστίμων:</b> 210 4270705 </p>
		<p><b>Απωλεσθέντα:</b> 210 4270802-3 (λεωφορεία), 210 8834138 (τρόλεϊ) (ώρες επικοινωνίας: 5.30 -24.00) </p>
		<p><b>Web site:</b> <a target="_blank" rel="noopener noreferrer" href="http://www.osy.gr/">www.osy.gr</a> </p>
		<p><b>email:</b> <font color="blue">osy@osy.gr</font></p>
	  
	  </li>
	  <br>
	  <li>
	  
		<h5><b> Στοιχεία Επικοινωνίας με τη ΣΤΑ.ΣΥ. (Σταθερές Συγκοινωνίες) </b></h5> 
		<p>Αθηνάς 67, Αθήνα 105 52</p>
		
		<p><b> Επικοινωνίας Επιβατικού Κοινού. </b></p>
		<p>Το γραφείο βρίσκεται στο <b>σταθμό Σύνταγμα</b>, δίπλα στην έξοδο προς την Πλατεία Συντάγματος.</p>
		<p><b>Ωράριο λειτουργίας:</b> Δευτέρα έως Παρακευή, 08:00 - 16:00</p>
	  
		<p><b>Τηλέφωνο:</b> 214 414 6400</p>
		<p><b>Φαξ:</b> 214 414 6489</p>
		<p><b>Web site:</b> <a target="_blank" rel="noopener noreferrer" href="http://www.stasy.gr/">www.stasy.gr</a> </p>
		
	  </li>

	</ul>




</div>










<% include partials/footer.ejs %>