<% include partials/header.ejs %>



<script>
	var sec = 16;
    function pad ( val ) { return val > 9 ? val : "0" + val; }
    setInterval( function(){
        $("#seconds").html(pad(--sec%60));
        $("#minutes").html(pad(parseInt(sec/60,10)));
    }, 1000);

</script>




<div class="container">
	<header class="jumbotron">
		<div class="container">
		
		
			<h2><font color="black">Η πληρωμή ολοκληρώθηκε.</font></h2>
			<h3><font color="black">Έχει σταλεί αναλυτική απόδειξη πληρωμής στο email σας.</font></h3>
			
			<br><br>
			
			
			<script>
				setTimeout(function(){ window.location.href="/"; }, 16000);
			</script>
		<div>
		
			
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		
		<p> Θα γίνει αυτόματη επιστροφή στην αρχική σελίδα σε <b><span id="seconds"></span></b> δευτερόλεπτα. </p>
		
	</header>
</div>


<br><br><br><br><br>



<% include partials/footer.ejs %>