<% include partials/header.ejs %>


<div class="container">
	<header class="jumbotron">
		<div class="container">
		
		
			<h2><font color="black">Η πληρωμή ολοκληρώθηκε.</font></h2>
			<h3><font color="black">Έχει σταλεί αναλυτική απόδειξη πληρωμής στο email σας.</font></h3>
			
			<br><br>
			
			
			<script>
				setTimeout(function(){ window.location.href="/"; }, 15000);
			</script>
		<div>
		
			
		<p> Θα γίνει αυτόματη επιστροφή στην αρχική σελίδα σε 15 δευτερόλπτα. </p>
		
	</header>
</div>


<br><br><br><br><br>



<% include partials/footer.ejs %>