<% include partials/header.ejs %>

<link rel="stylesheet" type="text/css" href="/login.css">



	<script>
		// Defining a function to display error message
		function printError(elemId, hintMsg) {
			document.getElementById(elemId).innerHTML = hintMsg;
		}


		function validateForm() {
			
			var name = document.contactForm.username.value;
			var password = document.contactForm.password.value;
		
			
			var nameErr = passErr = true;
			
			
			if(name == "") {
				printError("nameErr", "Please enter your username");
			} else {
				var regex = /^[a-zA-Z0-9\s]+$/; 

				
				if(regex.test(name) === false) {
					printError("nameErr", "Please enter a valid username.");
				} else {
				
					if(name.length < 4){
						printError("nameErr", "The length of the username must be greater than 3.");
					}else{
						if(name.length > 12){
							printError("nameErr", "The length of the username must be smaller than 13.");
						}else{
							printError("nameErr", "");
							nameErr = false;
						}
					}
					
				}
				
				
			}
			
			if(password == "") {
				printError("passErr", "Please enter your password");
			} else {
				var regex = /^[a-zA-Z0-9\s]+$/;     

				
				if(regex.test(password) === false) {
					printError("passErr", "Please enter a valid password");
				} else {
				
					if(password.length < 4){
						printError("passErr", "The length of the password must be greater than 3.");
					}else{
						if(password.length > 12){
							printError("passErr", "The length of the password must be smaller than 13.");
						}else{
							printError("passErr", "");
							passErr = false;
						}
					}
					
				}
				
				
			}
			

			if((nameErr || passErr) == true) {
			   return false;
			}
		};
	</script>




<div class="container">
	<h3 style="text-align: center; margin-top: 2%; color: black;"><strong> Σύνδεση </strong></h3>

	<div style="width: 25%; margin: auto; margin-top: 5%;">
		<form name="contactForm" onsubmit="return validateForm()" action = "/login" method = "POST">


			<div class="form-group">
				<label>Όνομα Χρήστη</label>
				<input class="form-control" type="text" name="username" placeholder = "username">
				<font color= "red"><div class="error" id="nameErr"></div></font>
			</div>


			<div class="form-group">
				<label>Κωδικός</label>
				<input class="form-control" type="password" name="password" placeholder = "password">
				<font color= "red"><div class="error" id="passErr"></div></font>
			</div>


			<div class="form-group">
				<button class="btn btn-sm btn-success btn-default btn-block" >Σύνδεση</button>
			</div>


		</form>
		
		<a href="/register">Εγγραφή</a>
		<br>
		<a href="javascript:history.back()">Πίσω</a>




		<br><br><br><br><br>
		<a href="/epanadora_kvdikou">Ξέχασα τον κωδικό μου</a>
	</div>
</div>


<% include partials/footer.ejs %>