<% include partials/header.ejs %>



<div class="container">

	<h3 align="center"><b>Πως επαναφορτίζω την κάρτα μου</b></h3>
	<br> <br>
    
    <h4>1. Κλικ στην επιλογή "Επαναφόρτιση Κάρτας" της αρχικής σελίδας</h4>
    <br>
    <p style="text-align: center;"><img src="/screenshot_2.png"></p>

    <br>

    <h4>2. Συμπλήρωση των αναγκαίων στοιχείων και επιλογή κομίστρου</h4>
    <h4>3. Πίεση του κουμπιού "Συνέχεια"</h4>
    <p style="text-align: center;"><img src="/screenshot_3.png"></p>
    
    <br><br>
    <h4>4. Συμπλήρωση των στοιχείων πληρωμής</h4>
    <h4>5. Πίεση του κουμπιού "Πληρωμή"</h4>
    <p style="text-align: center;"><img src="/screenshot_4.png"></p>
    <br>
    <h4>6. Ολοκλήρωση επαναφόρτισης κάρτας</h4>

    <br><br>

	<a href="/epanafortisi_kartas">Επαναφόρτιση κάρτας</a>
</div>



<% include partials/footer.ejs %>
