<% include partials/header.ejs %>



<div class="container">

	<h3 align="center"><b>Πως αναζητώ μια διαδρομή</b></h3>
	<br> <br>
    
    <h4>1. Εισαγωγή στοιχείων αφετηρίας και προορισμού με κεφαλαίο το πρώτο γράμμα και χωρίς τόνους</h4>
    <h4>2. Πίεση κουμπιού "Αναζήτηση"</h4>
    <br>
    <p style="text-align: center;"><img src="/screenshot.png"></p>
    <br><br>

    <h4>3. Επιλογή του επιθυμητού δρομολογίου και εμφάνισή του στον χάρτη</h4>
    <p style="text-align: center;"><img src="/screenshot_1.png" class="center"></p>
    <h4>4. Ολοκλήρωση αναζήτησης διαδρομής</h4>

    <br><br>
	<a href="/anazitisi_diadromis">Αναζήτηση Διαδρομής</a>
</div>



<% include partials/footer.ejs %>
