<% include partials/header.ejs %>



<div class="container">
		<h3 style="text-align: center; margin-top: 2%; color: black;"><strong> Εγγραφή </strong></h3>
		
		<div style="width: 25%; margin: 20px auto; margin-top: 4%;">
			<form action = "/register" method = "POST">


			<div class="form-group">
				<input class="form-control" type="text" name="username" placeholder = "Όνομα Χρήστη" required>
			</div>

			<div class="form-group">
				<input class="form-control" type="password" name="password" placeholder = "Κωδικός" required>
			</div>
			
			<div class="form-group">
				<input class="form-control" type="password" name="password_again" placeholder="Κωδικός Ξανά" required>
			</div>
			
			
			<div class="form-group">
				<input class="form-control" type="text" name="firstName" placeholder="Όνομα" required>
			</div>
			
			<div class="form-group">
				<input class="form-control" type="text" name="lastName" placeholder="Επώνυμο" required>
			</div>
			
			
			
			
			<div class="form-group">
				<input class="form-control" type="text" name="address" placeholder="Διεύθυνση" required>
			</div>
			
			<div class="form-group">
				<input class="form-control" type="text" name="postal_code" placeholder="Ταχυδρομικός Κώδικας" required>
			</div>
			
			
			
			
			
			<div class="form-group">
				<input class="form-control" type="email" name="email" placeholder="Email">
			</div>
			
			<div class="form-group">
				<input class="form-control" type="number" name="phone" placeholder="Τηλέφωνο">
			</div>
			
			<div class="form-group">
				<input class="form-control" type="number" name="AFM" placeholder="Αφμ" requireds>
			</div>
			
			
			<div class="form-group">
				<input class="form-control" type="text" name="image" placeholder="Εικόνα Χρήστη (url)" requireds>
			</div>
			

			<div class="form-group">
				<button class="btn btn-sm btn-success btn-default btn-block" >Εγγραφή</button>
			</div>

			</form>
			
			<a href="javascript:history.back()">Πίσω</a>
			
		</div>
</div>


<% include partials/footer.ejs %>