<% include partials/header.ejs %>

<link rel="stylesheet" type="text/css" href="/login.css">




	<script>

		function printError(elemId, hintMsg) {
			document.getElementById(elemId).innerHTML = hintMsg;
		}

		function validateForm() {
			var username = 			document.contactForm.username.value;
			var password = 			document.contactForm.password.value;
			var password_again = 	document.contactForm.password_again.value;
			var firstname = 		document.contactForm.firstName.value;
			var lastname = 			document.contactForm.lastName.value;
			
			var address = 			document.contactForm.address.value;
			var postal_code = 		document.contactForm.postal_code.value;
			var email = 			document.contactForm.email.value;
			var phone = 			document.contactForm.phone.value;
			
			
		
			var usernameErr = passErr = pass_againErr = nameErr = lnameErr = addressErr = 1;
			var postall_codeErr = emailErr = phoneErr = 1;
			var sum = 0;
			
			
			
			
			if(username == "") {
				printError("usernameErr", "Πληκτρολογήστε το όνομα χρήστη.");
			} else {
				var regex = /^[a-zA-Z0-9\s]+$/; 

				
				if(regex.test(username) === false) {
					printError("usernameErr", "Πληκτρολογήστε ένα έγκυρο όνομα χρήστη.");
				} else {
				
					if(username.length < 4){
						printError("usernameErr", "Το μήκος απο το όνομα χρήστη πρέπει να είναι μεγαλύτερο απο 3.");
					}else{
						if(username.length > 12){
							printError("usernameErr", "Το μήκος απο το όνομα χρήστη πρέπει να είναι μικρότερο απο 13.");
						}else{
							printError("usernameErr", "");
							usernameErr = 0;
						}
					}
					
				}
			}
			
			
			
			if(password == "") {
				printError("passErr", "Πληκτρολογήστε τον κωδικό.");
			} else {
				var regex = /^[a-zA-Z0-9\s]+$/;     

				
				if(regex.test(password) === false) {
					printError("passErr", "Πληκτρολογήστε έναν έγκυρο κωδικό.");
				} else {
				
					if(password.length < 4){
						printError("passErr", "Το μήκος του κωδικού πρέπει να είναι μεγαλύτερο απο 3.");
					}else{
						if(password.length > 12){
							printError("passErr", "Το μήκος του κωδικού πρέπει να είναι μικρότερο απο 13.");
						}else{
							printError("passErr", "");
							passErr = 0;
						}
					}
					
				}
			}
			
			
			if(password_again == "") {
				printError("pass_againErr", "Πληκτρολογήστε τον κωδικό.");
			} else {
				var regex = /^[a-zA-Z0-9\s]+$/;     

				
				if(regex.test(password_again) === false) {
					printError("pass_againErr", "Πληκτρολογήστε έναν έγκυρο κωδικό.");
				} else {
				
					if(password_again.length < 4){
						printError("pass_againErr", "Το μήκος του κωδικού πρέπει να είναι μεγαλύτερο απο 3.");
					}else{
						if(password_again.length > 12){
							printError("pass_againErr", "Το μήκος του κωδικού πρέπει να είναι μικρότερο απο 13.");
						}else{
							printError("pass_againErr", "");
							pass_againErr = 0;
						}
					}
					
				}
			}
			
			
			if(firstname == "") {
				printError("nameErr", "Πληκτρολογήστε το όνομα σας.");
			} else {
				printError("nameErr", "");
				nameErr = 0;
			}
			
			if(lastname == "") {
				printError("lnameErr", "Πληκτρολογήστε το επώνυμο σας.");
			} else {
				printError("lnameErr", "");
				lnameErr = 0;
			}
			
			
			
			if(address == "") {
				printError("addressErr", "Πληκτρολογήστε την διεύθυνση σας.");
			} else {
				printError("addressErr", "");
				addressErr = 0;
			}
		
			if(postal_code == "") {
				printError("postall_codeErr", "Πληκτρολογήστε τον ταχυδρομικό κώδικα.");
			} else {
				printError("postall_codeErr", "");
				postall_codeErr = 0;
			}
			
			
			if(email == "") {
				printError("emailErr", "Πληκτρολογήστε το email σας.");
			} else {
				// Regular expression for basic email validation
				var regex = /^\S+@\S+\.\S+$/;
				if(regex.test(email) === false) {
					printError("emailErr", "Πληκτρολογήστε έναν έγκυρο email.");
				} else{
					printError("emailErr", "");
					emailErr = 0;
				}
			}
			
			
			if(phone == "") {
				printError("phoneErr", "Πληκτρολογήστε το τηλέφωνο σας.");
			} else {
				var regex = /^[0-9]\d{9}$/;
				if(regex.test(phone) === false) {
					printError("phoneErr", "Πληκτρολογήστε ένα έγκυρο αριθμό τηλεφώνου.");
				} else{
					printError("phoneErr", "");
					phoneErr = 0;
				}
			}
			
			
			
			
			
			sum = usernameErr + passErr + pass_againErr + nameErr + lnameErr + addressErr
			+ postall_codeErr + emailErr + phoneErr;
			

			if(sum !== 0){
				return false;
			}
		};
	</script>
	
	
	
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {  });
	</script>
	
	<script>
	
		$(function() {
		  $.fn.bootstrapPasswordMeter = function(options) {
			var settings = $.extend({
			  minPasswordLength: 6,
			  level0ClassName: 'progress-bar-danger',
			  level0Description: 'Αδύνατος',
			  level1ClassName: 'progress-bar-danger',
			  level1Description: 'Μέτριος',
			  level2ClassName: 'progress-bar-warning',
			  level2Description: 'Καλός',
			  level3ClassName: 'progress-bar-success',
			  level3Description: 'Πολύ καλός',
			  level4ClassName: 'progress-bar-success',
			  level4Description: 'Τέλειος',
			  parentContainerClass: '.form-group'
			}, options || {});

			$(this).on("keyup", function() {
			  var progressBar = $(this).closest(settings.parentContainerClass).find('.progress-bar');
			  var progressBarWidth = 0;
			  var progressBarDescription = '';
			  if ($(this).val().length >= settings.minPasswordLength && $(this).val().length <= 12) {
				var zxcvbnObj = zxcvbn($(this).val());
				progressBar.removeClass(settings.level0ClassName)
				  .removeClass(settings.level1ClassName)
				  .removeClass(settings.level2ClassName)
				  .removeClass(settings.level3ClassName)
				  .removeClass(settings.level4ClassName);
				switch (zxcvbnObj.score) {
				  case 0:
					progressBarWidth = 25;
					progressBar.addClass(settings.level0ClassName);
					progressBarDescription = settings.level0Description;
					break;
				  case 1:
					progressBarWidth = 25;
					progressBar.addClass(settings.level1ClassName);
					progressBarDescription = settings.level1Description;
					break;
				  case 2:
					progressBarWidth = 50;
					progressBar.addClass(settings.level2ClassName);
					progressBarDescription = settings.level2Description;
					break;
				  case 3:
					progressBarWidth = 75;
					progressBar.addClass(settings.level3ClassName);
					progressBarDescription = settings.level3Description;
					break;
				  case 4:
					progressBarWidth = 100;
					progressBar.addClass(settings.level4ClassName);
					progressBarDescription = settings.level4Description;
					break;
				}
			  } else {
				progressBarWidth = 0;
				progressBarDescription = '';
			  }
			  progressBar.css('width', progressBarWidth + '%');
			  progressBar.text(progressBarDescription);
			});
		  };
		  $('#exampleInputPassword1').bootstrapPasswordMeter({minPasswordLength:4});
		});
	
	</script>
  
  
	
	
	
	
	<div class="container">
		<h3 style="text-align: center; margin-top: 2%; color: black;"><strong> Εγγραφή </strong></h3>
		<br><br>
		
		<form name="contactForm" onsubmit="return validateForm()" action = "/register" method = "POST">
			<div class="container">
				<div class="row">
		
	
		
			
					<div class="col">
						<div style="width: 95%;">
								
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label>Όνομα Χρήστη</label>
										<input class="form-control" type="text" name="username" placeholder = "nikolakis123"> 
										<font color= "red"><div class="error" id="usernameErr"></div></font>
									</div>
								</div>
								
								<div class="col">	
									<br> 
									<div align="left">
										<div class="help-tip">
											<p>Το όνομα χρήστη πρέπει να αποτελείται απο 4 μέχρι 12 χαρακτήρες.</p>
										</div>
									</div>
								</div>
							</div>
							
							<br>
						
							<div class="row">
								<div class="col">
								
									<div class="form-group">
										<div class="row">
											<div class="col"> <label>Κωδικός </label> </div>
											<div class="col"><div style="width: 120%; margin-left: -23%;" class="progress"><div class="progress-bar"></div></div> </div>
										</div>
										<input class="form-control" id="exampleInputPassword1" type="password" name="password" placeholder = "******">
										
										<font color= "red"><div class="error" id="passErr"></div></font>
									</div>
								</div>
								
								
								<div class="col">
									<br> 
									<div align="left">
										<div class="help-tip">
											<p>Ο κωδικός θα πρέπει να αποτελείται απο 4 μέχρι 12 χαρακτήρες.</p>
										</div>
									</div>
								</div>
							</div>
							
							<br>
							<div class="row">
								<div class="col">
								
									<div class="form-group">
										<label>Κωδικός Ξανά</label>
										<input class="form-control" type="password" name="password_again" placeholder="******">
										<font color= "red"><div class="error" id="pass_againErr"></div></font>
									</div>
								
								</div>
								
								
								<div class="col">
							
									<br> 
									<div align="left">
										<div class="help-tip">
											<p>Οι δυο κωδικοί θα πρέπει να είναι ίδιοι.</p>
										</div>
									</div>
							
								</div>
							</div>
							
						</div>	





						<div style="width: 45%;">
							
							<div class="form-group">
								<label>Όνομα</label>
								<input class="form-control" type="text" name="firstName" placeholder="Νίκος">
								<font color= "red"><div class="error" id="nameErr"></div></font>
							</div>
							
							<div class="form-group">
								<label>Επώνυμο</label>
								<input class="form-control" type="text" name="lastName" placeholder="Παπαδόπουλος">
								<font color= "red"><div class="error" id="lnameErr"></div></font>
							</div>
				
				
							<br><br><br>
							<a href="javascript:history.back()">Πίσω</a>
						
						</div>
					</div>
					
					
					
					<div class="col">
						<div style="width: 45%;">
						
							<div class="form-group">
								<label>Διεύθυνση</label>
								<input class="form-control" type="text" name="address" placeholder="Λόρδου Βύρωνα 2">
								<font color= "red"><div class="error" id="addressErr"></div></font>
							</div>
							
							
							<div class="form-group">
								<label>Ταχυδρομικός Κώδικας</label>
								<input class="form-control" type="text" name="postal_code" placeholder="31100">
								<font color= "red"><div class="error" id="postall_codeErr"></div></font>
							</div>
							
							<div class="form-group">
								<label>Email</label>
								<input class="form-control" type="email" name="email" placeholder="nikpap@gmail.com">
								<font color= "red"><div class="error" id="emailErr"></div></font>
							</div>
							
							<div class="form-group">
								<label>Τηλέφωνο</label>
								<input class="form-control" type="number" name="phone" placeholder="697 9984448">
								<font color= "red"><div class="error" id="phoneErr"></div></font>
							</div>
							
							<div class="form-group">
								<label>Κατηγορία</label>
								<select class="form-control" name="AFM">
									<option value="Καμια κατηγορια" >Καμία Κατηγορία</option>
									<option value="Φοιτητικο" >Φοιτητικό</option>
									<option value="ΑμΕα" >ΑμΕα</option>
								</select>
							</div>
							
							
							<div class="form-group">
								<label>Εικόνα Χρήστη</label>
								<input class="form-control" type="text" name="image" placeholder="Εικόνα Χρήστη (url)">
							</div>
						
						
						
						
							<br><br>
							<div class="form-group">
								<button class="btn btn-sm btn-success btn-default btn-block" >Εγγραφή</button>
							</div>
							
						</div>
					</div>
				
				
				
				
				
				</div>
			</div>
		</form>
	
	</div>


<% include partials/footer.ejs %>