<% include partials/header.ejs %>



<div class="container">
		<h2 style="text-align: center; margin-top: 2%; color: black;"><strong> Sign Up </strong></h2>
		
		<div style="width: 25%; margin: 20px auto; margin-top: 4%;">
			<form action = "/register" method = "POST">


			<div class="form-group">
				<input class="form-control" type="text" name="username" placeholder = "Username" required>
			</div>

			<div class="form-group">
				<input class="form-control" type="password" name="password" placeholder = "Password" required>
			</div>
			
			<div class="form-group">
				<input class="form-control" type="password" name="password_again" placeholder="Password_again" required>
			</div>
			
			
			<div class="form-group">
				<input class="form-control" type="text" name="firstName" placeholder="Firstname" required>
			</div>
			
			<div class="form-group">
				<input class="form-control" type="text" name="lastName" placeholder="Lastname" required>
			</div>
			
			<div class="form-group">
				<input class="form-control" type="email" name="email" placeholder="Email">
			</div>
			
			<div class="form-group">
				<input class="form-control" type="number" name="phone" placeholder="Phone">
			</div>
			
			<div class="form-group">
				<input class="form-control" type="number" name="AFM" placeholder="Afm" requireds>
			</div>
			
			
			
			
			
			<div class="form-group">
				<input class="form-control" type="text" name="image" placeholder="image url" requireds>
			</div>
			
			
			
			
			


			<div class="form-group">
				<button class="btn btn-sm btn-success btn-default btn-block" >Sign Up</button>
			</div>

			</form>
			
			<a href="javascript:history.back()">Back</a>
			
		</div>
</div>


<% include partials/footer.ejs %>