<% include partials/header.ejs %>


<br><br>
	<div class="container">
		<div align="center">
			<h4><b>Στάσεις με προεξοχές για τη βοήθεια ανθρώπων με κινητικές δυσκολίες. </b></h4>
		</div>
		<br><br>
		
		<div class="row">
			<div class="col">
				<div align="center">
					<div class="card" style="width:350px; height:250px;">
					
						<img class="card-img-top" height="250" width="250" src="http://www.oasa.gr/images/el/bus2.jpg" alt="Card image cap">
					
					</div>
				</div>
			</div>
			<div class="col">
				<div align="center">
					<div class="card" style="width:350px; height:250px;">
					
						<img class="card-img-top" height="250" width="250" src="http://www.oasa.gr/images/el/bus1.jpg" alt="Card image cap">
				
					</div>
				</div>
			</div>
		</div>
		
		
	
		
		<br><br><br>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ΣΤΑΣΗ</th>
					<th scope="col">ΟΔΟΣ</th>
					<th scope="col">ΔΗΜΟΣ</th>
					<th scope="col">ΛΕΩΦΟΡΕΙΑ</th>
				</tr>
			</thead>
			<tbody style="background-color: #F5F5DC;">
				<% staseis.forEach(function(stasi){ %>
					<tr>
						<td><%= stasi.stasi %></td>
						<td><%= stasi.odos %></td>
						<td><%= stasi.dimos %></td>
						<td><%= stasi.lewforeia %></td>
					</tr>
				 <% })  %>
			</tbody>
		</table>
		
		<br>
		
		<p>
		Για τις στάσεις και τους ισχύοντες πίνακες δρομολογίων μπορείτε να ενημερώνεστε και απο την τηλεφωνική γραμμή 185.
		</p>

	</div>



<% include partials/footer.ejs %>
